*{
    margin: 0;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
}

#contact-info{
    background-color: red;
    width: 25vw;
    height: 100%;
    color: aliceblue;
    order: 1;
}

#menu-area{
    background-color: yellow;
    width: 100%;
    height: 100%;
    color: aliceblue;
    order: 2;
}